---
import '../styles/typography.css';
import '../styles/stylesheet.css';
import Header from '../components/Header.svelte';
import BaseHead from '../components/BaseHead.astro';
import FooterSection from '../components/FooterSection.astro';


const { title, description, noIndex, ogImage, favicon } = Astro.props;
---

<!DOCTYPE html>
<html lang="nl">
  <head>
    <BaseHead title={title} description={description} noIndex={noIndex} ogImage={ogImage} favicon={favicon} />
  </head>
  <body>
    <Header client:load />
    <main>
      <slot />
    </main>
    <FooterSection/>
  </body>
</html>

<style>
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
</style>

